html, body {
  width: 100%;
  height: 100%;
}

body {
  color: #fff;
  /*background-color: #171717;*/
  background-color: #fff;
}

#card-display {
  border-bottom: 20px solid transparent;
  border-image: linear-gradient(to bottom, rgba(0,0,0,0) 99.8%, rgba(0,0,0,.4) 100%);
  border-image-slice: 1;
}

#card-image-wrapper {
  padding: 15px 0px 15px 0px;
}

#card-image {
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, .8);
}

#all-sets {
  background-color: #171717;
  height: 30px
}

#all-arts {
  background-color: #6D309A;
  height: 20px;
}

#start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 3px;
  padding: 10px 20px;
  border: none;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0,0,0,.5);
}

.empty {
  width: 223px;
  height: 310px;
}


.background-red {
  background: repeating-linear-gradient(90deg,
                                        rgba(100, 0, 0, .7),
                                        rgba(100, 0, 0, .7) 10%,
                                        rgba(180, 0, 0, .7) 10%,
                                        rgba(180, 0, 0, .7) 20%);
}

.background-blue {
  background: repeating-linear-gradient(90deg,
                                        rgba(0, 0, 100, .7),
                                        rgba(0, 0, 100, .7) 10%,
                                        rgba(0, 0, 180, .7) 10%,
                                        rgba(0, 0, 180, .7) 20%);
}

.background-white {
  background: repeating-linear-gradient(90deg,
                                        rgba(180, 180, 180, .7),
                                        rgba(180, 180, 180, .7) 10%,
                                        rgba(255, 255, 255, .7) 10%,
                                        rgba(255, 255, 255, .7) 20%);
}

.backgroud-green {
  background: repeating-linear-gradient(90deg,
                                        rgba(0, 100, 0, .7),
                                        rgba(0, 100, 0, .7) 10%,
                                        rgba(0, 180, 0, .7) 10%,
                                        rgba(0, 180, 0, .7) 20%);
}

.background-brown {
  background: repeating-linear-gradient(90deg,
                                        rgba(160, 80, 0, .7),
                                        rgba(160, 80, 0, .7) 10%,
                                        rgba(120, 40, 0, .7) 10%,
                                        rgba(120, 40, 0, .7) 20%);
}

.background-black {
  background: repeating-linear-gradient(90deg,
                                        rgba(30, 30, 30, .7),
                                        rgba(30, 30, 30, .7) 10%,
                                        rgba(70, 70, 70, .7) 10%,
                                        rgba(70, 70, 70, .7) 20%);
}

.background-gold {
  background: repeating-linear-gradient(90deg,
                                        rgba(230, 150, 0, .7),
                                        rgba(230, 150, 0, .7) 10%,
                                        rgba(200, 120, 0, .7) 10%,
                                        rgba(200, 120, 0, .7) 20%);
}
